@page "/about"
@inject Navigator Navigator

<Money.Components.Title Main="Money by Neptuo" />
<ExceptionPanel />

<div class="row mt-4">
    <div class="col-12 col-md-auto mb-3">
        <a target="_blank" href="@Navigator.UrlMoneyProject()" class="btn bg-light-subtle text-start w-100">
            <Icon Identifier="book" />
            Documentation
        </a>
    </div>
    <div class="col-12 col-md-auto mb-3">
        <a target="_blank" href="@Navigator.UrlGithubRepository()" class="btn bg-light-subtle text-start w-100">
            <Icon Identifier="github" Prefix="fab" />
            Source code
        </a>
    </div>
    <div class="col-12 col-md-auto mb-3">
        <a target="_blank" href="@Navigator.UrlGithubRepositoryIssueNew()" class="btn bg-light-subtle text-start w-100">
            <Icon Identifier="bug" />
            Report a bug
        </a>
    </div>
</div>

<AppVersion ShowAsTable="true" />
<ReleaseNotes />