@page "/about"
@inject Navigator Navigator

<Money.Components.Title Main="Money by Neptuo" />
<ExceptionPanel />

<p class="text-muted">
    <AppVersion />
</p>
<p class="mt-4">
    <a target="_blank" href="@Navigator.UrlMoneyProject()" class="btn btn-light mb-2 mr-2"> 
        <Icon Identifier="book" />
        Documentation
    </a>
    <a target="_blank" href="@Navigator.UrlGithubRepository()" class="btn btn-light mb-2 mr-2"> 
        <Icon Identifier="github" Prefix="fab" />
        Source code
    </a>
    <a target="_blank" href="@Navigator.UrlGithubRepositoryIssueNew()" class="btn btn-light mb-2 mr-2">
        <Icon Identifier="bug" />
        Report a bug
    </a>
</p>