@page "/about"
@inject Navigator Navigator

<Money.Components.Title Main="Money" Sub="Neptuo" />
<ExceptionPanel />

<p class="text-muted">
    <ConvertToString Value="@(typeof(About).Assembly.GetName().Version)" />
</p>
<p>
    <a target="_blank" href="@Navigator.UrlMoneyProject()"> 
        <Icon Identifier="book" />
        Documentation</a>
</p>
<p>
    <a target="_blank" href="@Navigator.UrlMoneyRepository()"> 
        <Icon Identifier="github" Prefix="fab" />
        Source Code</a>
</p>
<p>
    <a target="_blank" href="@Navigator.UrlMoneyRepositoryIssueNew()">
        <Icon Identifier="bug" />
        Report an Issue</a>
</p>