@if (!ServerConnection.IsAvailable)
{
    <LayoutView Layout="@typeof(Layouts.Layout)">
        <ExpenseBag>
            <BeforeContent>
                <div class="alert alert-secondary">
                    <h4 class="alert-heading">
                        <ApiHubConnectionStatus />
                    </h4>
                    @if (ApiHub.Status == ApiHubStatus.Connected)
                    {
                        <p>
                            Everything is running smoothly 😉
                        </p>
                    }
                    else if (ApiHub.Status == ApiHubStatus.Connecting)
                    {
                        <p>
                            We have troubles with connection to our server. The application can't work completly.
                            <br />
                            <strong>Right now, we are trying to contact our server...</strong>
                        </p>
                    }
                    else if (ApiHub.Status == ApiHubStatus.Disconnected)
                    {
                        <p>
                            We have troubles with connection to our server. The application can't work completly.
                        </p>
                        <p>
                            Please check your internet connection.
                            <br />
                            Otherwise, we will be glad if you <a target="_blank" href="@Navigator.UrlGithubRepositoryIssueNew("Background connection error")">report the problem</a>.
                        </p>
                        <p>
                            <strong>We are sorry for this inconvenience.</strong>
                        </p>
                        <p>
                            <button class="btn btn-primary btn-sm" @onclick="ReconnectAsyc" disabled="@(ApiHub.Status != ApiHubStatus.Disconnected)">
                                <Icon Identifier="sync-alt" />
                                Reconnect
                            </button>
                            <button class="btn btn-secondary btn-sm" @onclick="ReloadAsync">
                                <Icon Identifier="sync-alt" />
                                Reload the page
                            </button>
                        </p>
                    }
                </div>
            </BeforeContent>
        </ExpenseBag>
    </LayoutView>
}
else
{
    @ChildContent
}