@page "/test"

<div style="margin-top: 5rem;">
    @if (Balances == null)
    {
        <em>Loading...</em>
    }
    else
    {
        <table>
            <tr>
                <td>
                    Month
                </td>
                <td>
                    Expenses
                </td>
                <td>
                    Incomes
                </td>
            </tr>
            @foreach (var balance in Balances)
            {
                <tr>
                    <td>
                        @balance
                    </td>
                    <td>
                        @balance.ExpenseSummary
                    </td>
                    <td>
                        @balance.IncomeSummary
                    </td>
                </tr>
            }
        </table>
    }
</div>