<Router AppAssembly="@typeof(Program).Assembly">
    <NotFoundContent>
        <Money.Layouts.Layout>
            <Body>
                <NotFound />
            </Body>
        </Money.Layouts.Layout>
            
    </NotFoundContent>
</Router>
