@typeparam T where T : struct

<div class="mb-3">
    @foreach (var item in Properties)
    {
        <div @key="item.Value" class="alert @(item.Value.Equals(Property) ? "alert-primary" : "alert-light") cursor-pointer" @onclick="@(() => { Property = item.Value; PropertyChanged?.Invoke(item.Value); })">
            @item.Name
        </div>
    }
</div>
