$bodyMinWidth: 380px;
$actionButtonColor: #333;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: #007BFF;
}

.clear {
    clear: both;
}

html, body {
    overscroll-behavior-y: none;
}

body {
    position: relative;
    min-width: $bodyMinWidth;
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 20px;
}

.body-content {
    margin-top: 20px;
    margin-bottom: 64px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

h4 {
    margin-bottom: 20px;
}

.fas.fa-trash-alt {
    color: #D85A5A;
}

.navbar {
    background-color: #0078D7;
    border-color: #398BF5;

    .navbar-collapse {
        border-color: #398BF5;
        height: calc(100vh - 56px);

        @media (min-width: 992px) {
            height: auto;
        }
    }

    .navbar-toggle, .navbar-toggle:focus, .navbar-toggle:hover {
        background-color: #0078D7;
        border-color: #398BF5;
    }

    .navbar-toggler {
        border: none;
    }

    .navbar-nav > li > a,
    .navbar-nav > li > button {
        color: #bcdbff;
        cursor: pointer;
    }

    @media (max-width: 767px) {
        .navbar-nav > .open ul.dropdown-menu > li > a {
            color: #bcdbff;
        }
    }

    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover {
        background: #245A9D;
    }

    .navbar-nav > li > a.active {
        color: #fff;
    }

    .navbar-nav > li > button:hover {
        text-decoration: none;
    }

    a.navbar-brand {
        color: #fff;
        padding: 0;
    }

    .nav-item hr {
        border-color: rgba(255,255,255,.5);
    }

    @media (max-width: 992px) {
        .fas, .fa {
            width: 30px;
            text-align: center;
        }
    }

    .navbar-brand {
        position: relative;

        .status {
            font-size: 10px;
            top: 5px;
            position: absolute;
        }
    }
}

.nav-tabs > li > a:hover {
    cursor: pointer;
}

.nav-tabs > li.active > a:hover {
    cursor: default;
}

.header {
    position: absolute;
    width: 100%;
    min-width: $bodyMinWidth;
    left: 0;
    top: 56px;
    padding: 14px 0 4px 0;
    background: #f5f5f5;
    border-bottom: 1px solid #dddddd;

    .icon {
        font-size: 26px;
        color: #0078D7;
    }
    /*h2 {
        position: relative;
        height: 40px;
        overflow: hidden;

        button {
            position: absolute;
            right: 0;
        }
    }*/
    h3 {
        line-height: 1.25;

        span.text {
            position: relative;
            top: 6px;
            display: inline-block;
            overflow: hidden;
            max-width: calc(100% - 177px);
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        button {
            float: right;
        }
    }

    h6 {
        width: 100%;
        margin-bottom: 20px;
        text-overflow: ellipsis;
        line-height: 1.25;
        white-space: nowrap;
        overflow: hidden;
    }
}

.header-append {
    margin-bottom: 150px;
}

.center {
    text-align: center;
}

.gray {
    opacity: 0.7;
}

.table {
    .btn-link {
        padding: 0;
    }
}

.alert {
    .nav {
        margin-top: -7px;
        margin-bottom: -7px;

        .btn-link {
            color: $actionButtonColor;
        }
    }
}

.back-dark {
    color: #eee;

    .btn-link {
        color: #eee;
    }
}

.btn-icon, .btn-color {
    width: 48px;
    height: 48px;
    margin: 3px;
}

.btn-icon {
    font-size: 1.6em;
    padding: 0;
}

.btn-selectable {
    border-radius: 4px;
    border: 2px solid transparent;
}

.btn-selectable:focus,
.btn-selectable:hover {
    text-decoration: none;
}

.btn-selectable.btn-selectable-selected,
.btn-selectable:focus,
.btn-selectable:hover {
    position: relative;
    outline: none;
    border-color: black;
}

.btn-selectable.btn-selectable-selected::before,
.btn-selectable:focus::before,
.btn-selectable:hover::before {
    content: " ";
    content: "✓";
    padding: 2px;
    background: black;
    border-radius: 0 0 4px 0;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    font-size: 11px;
}

.card {
    margin-bottom: 15px;

    .nav {
        margin-top: -7px;
        margin-bottom: -7px;

        .btn-link {
            color: $actionButtonColor;
        }
    }

    p:last-child {
        margin: 0;
    }
}

.sort {
    a {
        cursor: pointer;
    }
}


.summary {
    position: relative;

    .sort {
        position: absolute;
        right: 0;

        .btn {
            border-color: transparent;
        }
    }

    .months {
        padding-right: 70px;
    }

    .graph {
        margin-bottom: -15px;
    }
}

.bar-graph {
    margin: 0;
    border-width: 1px 0 0 0;
    box-shadow: none;
    cursor: pointer;

    .card-body {
        position: relative;
        height: 60px;
        padding: 15px;
    }

    .description {
        position: absolute;
        margin: 0;
        font-size: 24px;
        font-weight: normal;
        line-height: 1.1;
        display: inline;
        z-index: 1;

        .name {
            font-size: 16px;
            white-space: nowrap;
        }

        .icon {
            display: inline-block;
            width: 34px;
            text-align: center;
        }
    }

    .value {
        position: absolute;
        width: calc(100% - 30px);
    }

    .amount {
        float: right;
    }

    .bar {
        height: 10px;
        float: right;
        clear: both;
        transition: width 1s;
    }
}

.bar-graph:hover {
    background-color: #f5f5f5;
}

.bar-graph-summary {
    border: none;

    .glyphicon {
        margin: 0 4px;
    }

    .category-name {
        font-weight: bold;
    }

    .amount {
        font-weight: bold;
    }
}

.overview {
    max-width: 900px;
    margin: 0 auto;

    .sort {
        float: right;
        margin-right: 35px;
    }
}

.search {
    max-width: 900px;
    margin: 0 auto;
}

.search .controls {
    display: none;
}

.cards {
    margin: 20px 0;
}

.outcome-card {
    padding: 30px;
    border-bottom: 1px solid #eee;

    &:first-child {
        border-top: 1px solid #eee;
    }

    &:hover {
        background: #fcfcfc;
    }

    .data {
        float: left;
    }

    .controls {
        float: right;

        .btn-link {
            color: $actionButtonColor;
        }
    }

    .amount {
        margin-top: 0;
    }

    .category {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .modal .btn-primary {
        width: 100%;
        display: block;
    }
}

.vertical-bar {
    display: flex;
    align-items: flex-end;
}

/* ------ SPLASH SCREEN ------------------------------------------------------------------------ */
.splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #0078D7;
    z-index: 1031;
    transition: height 1s, opacity 0.5s linear 1s, margin-top 0.1s linear 2s;

    .app-title {
        position: absolute;
        bottom: 40px;
        width: 100vw;
        text-align: center;
        color: white;
        font-size: 1.6rem;
        font-weight: lighter;
        transition: opacity 0.5s;
    }

    img {
        width: 120px;
        height: 120px;
        transition: margin-left 0.5s linear 0.5s, width 0.5s, height 0.5s;
    }

    &.animate {
        height: 56px;
        opacity: 0;
        margin-top: -60px;

        .app-title {
            opacity: 0;
        }

        img {
            width: 40px;
            height: 40px;
            margin-left: calc(-100vw + 71px);

            @media (min-width: 576px) {
                margin-left: -480px;
            }

            @media (min-width: 768px) {
                margin-left: -680px;
            }

            @media (min-width: 992px) {
                margin-left: -890px;
            }

            @media (min-width: 1200px) {
                margin-left: -1070px;
            }
        }
    }
}

.loading-bar {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 84px;

    div {
        display: inline-block;
        position: absolute;
        left: 6px;
        width: 13px;
        background: #193F6F;
        animation: loading-bar 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

    div:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
    }

    div:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
    }

    div:nth-child(3) {
        left: 45px;
        animation-delay: 0;
    }

    @keyframes loading-bar {
        0% {
            top: 6px;
            height: 71px;
        }

        50%, 100% {
            top: 19px;
            height: 26px;
        }
    }
}

/* ------ LOADING ------------------------------------------------------------------------------ */

.loading {
    position: relative;

    .mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        opacity: 0.9;
        background: #fff;
    }
}

.loading-active {
    .mask {
        display: block;
    }
}

/* ------ PAGING ------------------------------------------------------------------------------- */

.pager {
    margin: 20px 0 40px 0;

    a {
        cursor: pointer;
    }

    li {
        display: inline-block;
    }

    .current {
        margin: 0 16px;
    }
}

/* ------ USER --------------------------------------------------------------------------------- */

.user {
    margin: 20px 15px;
}

.login {
    margin-top: 20px;
}

/* ------ EXPENSES BAG ------------------------------------------------------------------------- */

.expenses-bag {
    position: relative;
}

/* ------ PULL TO REFRESH ---------------------------------------------------------------------- */

.refresher {
    pointer-events: none;
    --refresh-width: 55px;
    background: #fff;
    width: var(--refresh-width);
    height: var(--refresh-width);
    border-radius: 50%;
    position: absolute;
    top: -56px;
    left: calc(50% - var(--refresh-width) / 2);
    padding: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: all 300ms cubic-bezier(0,0,0.2,1);
    will-change: transform, opacity;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1100;
    visibility: hidden;
}

.refresher.visible {
    top: 56px;
}

.loading-bar {
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0;
}

.loading-bar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
}

.loading-bar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1,2.2);
    }

    40% {
        transform: scale(1);
    }
}