$backgroundColor: #004074;
$bodyMinWidth: 380px;
$actionButtonColor: #333;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background: #bbb;
}

.clear {
    clear: both;
}

html, body {
    overscroll-behavior-y: none;
}

body {
    position: relative;
    min-width: $bodyMinWidth;
    min-height: 100vh;
    padding-top: 30px;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.body-content {
    margin-bottom: 64px;
}

footer.navbar {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 0.5rem;

    .container {
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .navbar-text {
        color: #aaaaaa !important;
    }

    a {
        color: #aaaaaa !important;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

h4 {
    margin-bottom: 20px;
}

.fas.fa-trash-alt {
    color: #D85A5A;
}

.dropdown-item {
    padding: .25rem 1rem;

    .fa, .fas {
        width: 20px;
        text-align: center;
        margin-right: 6px;
    }
}

.navbar-dark {
    background-color: $backgroundColor;
    border-color: #398BF5;

    .collapse {
        @media (max-width: 991px) {
            display: block;
            visibility: hidden !important;
            height: 0 !important;
        }
    }

    .navbar-collapse {
        border-color: #398BF5;
        height: calc(100vh - 112px);
        visibility: visible;
        transition: height .4s;
        overflow-x: hidden;
        overflow-y: auto;

        @media (min-width: 576px) {
            height: calc(100vh - 56px);
        }

        @media (min-width: 992px) {
            height: auto;
            overflow-x: unset;
            overflow-y: unset;
        }

        &::-webkit-scrollbar-track {
            background: #004074;
        }

        &::-webkit-scrollbar-thumb {
            background: #004074;
        }
    }

    .navbar-toggle, .navbar-toggle:focus, .navbar-toggle:hover {
        background-color: #0078D7;
        border-color: #398BF5;
    }

    .navbar-toggler {
        border: none;
        outline: none;
    }

    @media (min-width: 992px) and (max-width: 993px) {
        .navbar-nav {
            .nav-link {
                padding-right: .35rem;
                padding-left: .35rem;
            }
        }
    }

    @media (max-width: 991px) {
        .nav-link {
            padding-top: .75rem;
            padding-bottom: .75rem;
        }

        hr.separator {
            margin-right: -18px;
            margin-left: -26px;
        }

        @media (min-width: 596px) {
            hr.separator {
                margin-right: -1rem;
                margin-left: -1rem;
            }
        }
    }

    .navbar-nav > li > a,
    .navbar-nav > li > button {
        color: #bcdbff;
        cursor: pointer;
    }

    @media (max-width: 767px) {
        .navbar-nav > .open ul.dropdown-menu > li > a {
            color: #bcdbff;
        }
    }

    .navbar-nav > .open > a,
    .navbar-nav > .open > a:hover {
        background: #245A9D;
    }

    .navbar-nav > li > a.active {
        color: #fff;
    }

    .navbar-nav > li > button:hover {
        text-decoration: none;
    }

    a.navbar-brand {
        color: #fff;
        padding: 0;

        .brand-author {
            position: absolute;
            bottom: 0;
            left: 47px;
            font-size: 8px;
        }
    }

    .nav-item hr.separator {
        border-color: rgba(255,255,255,.5);
    }

    @media (max-width: 992px) {
        .fas, .fa {
            width: 30px;
            text-align: center;
        }
    }

    .navbar-brand {
        position: relative;

        .status {
            font-size: 10px;
            top: 5px;
            position: absolute;
        }
    }
}

.nav-tabs > li > a:hover {
    cursor: pointer;
}

.nav-tabs > li.active > a:hover {
    cursor: default;
}

.header {
    min-width: $bodyMinWidth;
    padding: 14px 0;
    background: #f5f5f5;
    border-bottom: 1px solid #dddddd;

    .icon {
        font-size: 26px;
        color: #0078D7;
    }

    h3 {
        line-height: 1.25;
        margin-bottom: 0;
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h6 {
        width: 100%;
        margin-top: .5rem;
        margin-bottom: 0;
        text-overflow: ellipsis;
        line-height: 1.25;
        white-space: nowrap;
        overflow: hidden;
    }

    .actions {
        white-space: nowrap;
    }
}

.header-append {
    margin-bottom: 150px;
}

.header-append-small {
    margin-bottom: 110px;
}

.bottom-bar {
    background: #f5f5f5;
    border-top: 1px solid #dddddd;

    .items-6, .items-5, .items-4, .items-3 {
        span.text {
            display: none;
        }
    }
}

.center {
    text-align: center;
}

.gray {
    opacity: 0.7;
}

.table {
    .btn-link {
        padding: 0;
    }

    .min-column {
        max-width: 1px;
        overflow: auto;
    }
}

.alert {
    .nav {
        margin-top: -7px;
        margin-bottom: -7px;

        .btn-link {
            color: $actionButtonColor;
        }
    }
}

.back-dark {
    color: #eee !important;

    .btn-link {
        color: #eee !important;
    }
}

.back-light {
    color: #212529 !important;
}

.btn-icon, .btn-color {
    width: 48px;
    height: 48px;
    margin: 3px;
}

.btn-icon {
    font-size: 1.6em;
    padding: 0;
}

.btn-selectable {
    border-radius: 4px;
    border: 2px solid transparent;
}

.btn-selectable:focus,
.btn-selectable:hover {
    text-decoration: none;
}

.btn-selectable.btn-selectable-selected,
.btn-selectable:focus,
.btn-selectable:hover {
    position: relative;
    outline: none;
    border-color: black;
}

.btn-selectable.btn-selectable-selected::before,
.btn-selectable:focus::before,
.btn-selectable:hover::before {
    content: " ";
    content: "✓";
    padding: 2px;
    background: black;
    border-radius: 0 0 4px 0;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    font-size: 11px;
}

.card {
    margin-bottom: 15px;

    .nav {
        margin-top: -7px;
        margin-bottom: -7px;

        .btn-link {
            color: $actionButtonColor;
        }
    }

    p:last-child {
        margin: 0;
    }

    &.card-hover:hover {
        background-color: #eee;
    }
}

.sort {
    a {
        cursor: pointer;
    }
}


.summary {
    position: relative;

    .sort {
        position: absolute;
        right: 0;

        .btn {
            border-color: transparent;
        }
    }

    .months {
        padding-right: 70px;
    }

    .graph {
        margin-bottom: -15px;
    }
}

.bar-graph {
    margin: 0;
    border-width: 1px 0 0 0;
    box-shadow: none;
    cursor: pointer;

    .card-body {
        position: relative;
        height: 60px;
        padding: 15px;
    }

    .description {
        position: absolute;
        margin: 0;
        font-size: 24px;
        font-weight: normal;
        line-height: 1.1;
        display: inline;
        z-index: 1;

        .name {
            font-size: 16px;
            white-space: nowrap;
        }

        .icon {
            display: inline-block;
            width: 34px;
            text-align: center;
        }
    }

    .value {
        position: absolute;
        width: calc(100% - 30px);
    }

    .amount {
        float: right;
    }

    .bar {
        height: 10px;
        float: right;
        clear: both;
        transition: width 1s;
    }
}

.bar-graph:hover {
    background-color: #f5f5f5;
}

.bar-graph-summary {
    border: none;

    .glyphicon {
        margin: 0 4px;
    }

    .category-name {
        font-weight: bold;
    }

    .amount {
        font-weight: bold;
    }
}

.overview {
    max-width: 900px;
    margin: 0 auto;

    .sort {
        float: right;
    }
}

.search {
    max-width: 900px;
    margin: 0 auto;
}

.cards {
    margin: 20px 0;

    .row {
        &:first-child {
            border-top: 1px solid #dee2e6 !important;
        }

        &:hover {
            background: #eee;
        }

        .btn-link {
            color: $actionButtonColor;
        }
    }
}

@media (max-width: 767px) {
    .modal .btn-primary {
        width: 100%;
        display: block;
    }
}

.modal .modal-overflow .modal-body {
    max-height: calc(100vh - 142px - 1rem);
    overflow: auto;
}

@media (min-width: 576px) {
    .modal .modal-overflow .modal-body {
        max-height: calc(100vh - 142px - 2.5rem);
    }
}

.vertical-bar {
    display: flex;
    align-items: flex-end;
}

.cursor-pointer {
    cursor: pointer;
}

/* ------ SPLASH SCREEN ------------------------------------------------------------------------ */

.splash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: $backgroundColor;
    z-index: 1031;
    transition: height 1s, opacity 0.5s linear 1s, margin-top 0.1s linear 2s;

    .app-title {
        position: absolute;
        bottom: 40px;
        width: 100vw;
        text-align: center;
        color: white;
        font-size: 1.6rem;
        font-weight: lighter;
        transition: opacity 0.5s;
    }

    img {
        width: 274px;
        height: 274px;
        transition: opacity 0.5s, width 0.5s, height 0.5s;
    }

    &.animate {
        height: 56px;
        opacity: 0;
        margin-top: -60px;

        .app-title, img {
            opacity: 0;
        }

        img {
            width: 56px;
            height: 56px;
        }
    }
}

.loading-bar {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 84px;

    div {
        display: inline-block;
        position: absolute;
        left: 6px;
        width: 13px;
        background: #193F6F;
        animation: loading-bar 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }

    div:nth-child(1) {
        left: 6px;
        animation-delay: -0.24s;
    }

    div:nth-child(2) {
        left: 26px;
        animation-delay: -0.12s;
    }

    div:nth-child(3) {
        left: 45px;
        animation-delay: 0;
    }

    @keyframes loading-bar {
        0% {
            top: 6px;
            height: 71px;
        }

        50%, 100% {
            top: 19px;
            height: 26px;
        }
    }
}

/* ------ LOADING ------------------------------------------------------------------------------ */

.loading {
    position: relative;

    .mask {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        opacity: 0.9;
        background: #fff;
    }
}

.loading-active {
    .mask {
        display: block;
    }
}

/* ------ PAGING ------------------------------------------------------------------------------- */

.pager {
    margin: 20px 0 40px 0;

    a {
        cursor: pointer;
    }

    li {
        display: inline-block;
    }

    .current {
        margin: 0 16px;
    }
}

/* ------ USER --------------------------------------------------------------------------------- */

.user {
    margin: 20px 15px;
}

.login {
    margin-top: 20px;
}

/* ------ EXPENSES BAG ------------------------------------------------------------------------- */

.expenses-bag {
    position: relative;

    button {
        display: none;

        &:last-child {
            display: inline-block;
        }
    }
}

/* ------ PULL TO REFRESH ---------------------------------------------------------------------- */

.refresher {
    pointer-events: none;
    --refresh-width: 55px;
    background: #fff;
    width: var(--refresh-width);
    height: var(--refresh-width);
    border-radius: 50%;
    position: absolute;
    top: -56px;
    left: calc(50% - var(--refresh-width) / 2);
    padding: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    transition: all 300ms cubic-bezier(0,0,0.2,1);
    will-change: transform, opacity;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1100;
    visibility: hidden;
}

.refresher.visible {
    top: 56px;
}

.loading-bar {
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
}

.loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0;
}

.loading-bar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
}

.loading-bar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
}

.loading-bar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }

    20% {
        transform: scale(1,2.2);
    }

    40% {
        transform: scale(1);
    }
}

/* ------ SWIPING ------------------------------------------------------------------------------ */

.swipe-left, .swipe-right {
    position: fixed;
    top: calc(100vh / 2 - 60px);
    font-size: 2.5rem;
    color: $backgroundColor;
}

.swipe-left {
    left: -35px;
}

.swipe-right {
    right: -35px;
}
