@page "/about"

<h1>Money</h1>
<h4>Neptuo</h4>
<p class="gray">
    v1.0.0-alpha1
</p>
<p>
    <a target="_blank" href="http://github.com/maraf/Money">Documentation</a>
</p>
<p>
    <a target="_blank" href="https://github.com/maraf/Money/issues/new">Report an issue</a>
</p>