@page "/about"
@inject Navigator Navigator

<h1>Money</h1>
<h4>Neptuo</h4>
<p class="gray">
    v@(typeof(About).Assembly.GetName().Version.ToString(3))
</p>
<p>
    <a target="_blank" href="@Navigator.UrlMoneyProject()">Documentation</a>
</p>
<p>
    <a target="_blank" href="@Navigator.UrlMoneyProjectIssueNew()">Report an issue</a>
</p>