@if (State.IsError)
{
    <LayoutView Layout="@typeof(Layouts.Layout)">
        <Title Icon="exclamation-circle"
               Main="Network error"
               Sub="Background server connection failed"
               ButtonIcon="sync-alt"
               ButtonText="Reload the page"
               ButtonClick="@(async () => await ReloadAsync())" />

        <p>
            We have troubles with background connection to the server. The application can't work corrently.
        </p>
        <p>
            Reload the page (or application) and this problem may disappear.
            <br />
            Otherwise, we will be glad if you <a target="_blank" href="@Navigator.UrlMoneyProjectIssueNew("Background connection error")">report the problem</a>.
        </p>
        <p>
            <strong>We are sorry for this inconvenience.</strong>
        </p>
    </LayoutView>
}
else
{
    @ChildContent
}