@page "/expenses"

<Money.Components.Title Icon="signal" Main="Offline mode" ButtonText="New Expense" ButtonClick="@CreateNewExpense" />
<ExceptionPanel />

<OutcomeCreate @ref="CreateModal" />

<Loading Context="@Loading">
    @if (Models.Count == 0)
    {
        <Alert Title="No data." Message="Let's add some expenses." Mode="@AlertMode.Warning" />
    }
    else
    {
        <Network>
            <Online>
                <button class="btn btn-secondary" @onclick="PublishAsync">You are online, upload your expenses</button>
            </Online>
        </Network>

        <hr />

        foreach (var model in Models)
        {
            @model.Amount
            <br />
        }
    }
</Loading>