<small class="text-muted">
    <span>Client</span>
    <span>
        <ConvertToString Value="@Client" />
    </span>

    @if (Api != null)
    {
        <span>Api</span>
        <span>
            <ConvertToString Value="@Api" />
        </span>
    }
</small>