<Title Icon="user-clock" Main="Authorizing..." Sub="We need to verify that your authorization is still valid." />

<p>
    We looking for the cookie with your password (in case you previously used this app)
</p>
<p>
    Please, take a seat and give us few moments...
</p>