@using Neptuo.Models.Keys
@inherits DialogBase
@inject ICommandDispatcher Commands

<Modal Title="Pick an Icon for the Category" PrimaryButtonText="Save" PrimaryButtonClick="@OnSaveClick" bind-IsVisible="@IsVisible">
    @foreach (string icon in Icons)
    {
        if (Icon == icon)
        {
            <a class="btn btn-icon btn-selected" onclick="@(() => Icon = icon)">
                @icon
            </a>
        }
        else
        {
            <a class="btn btn-icon" onclick="@(() => Icon = icon)">
                @icon
            </a>
        }
    }
</Modal>

@functions 
{
    private string originalIcon;

    public IKey CategoryKey { get; set; }
    public string Icon { get; set; }

    protected IconCollection Icons { get; set; } = new IconCollection();

    protected override void OnParametersSet()
    {
        originalIcon = Icon;
    }

    protected bool OnSaveClick()
    {
        if (originalIcon != Icon)
        {
            Execute();
            return true;
        }
        else
        {
            return false;
        }
    }

    private async void Execute()
    {
        await Commands.HandleAsync(new ChangeCategoryIcon(CategoryKey, Icon));
        originalIcon = Icon;
    }
}
