@using Neptuo.Models.Keys
@inherits DialogBase
@inject ICommandDispatcher Commands

<Modal Title="Pick a Color for the Category" PrimaryButtonText="Save" PrimaryButtonClick="@OnSaveClick" bind-IsVisible="@IsVisible">
    @foreach (Color color in Colors)
    {
        <button class="btn btn-link btn-color" style="@GetCategoryBarStyleValue(color)" onclick="@(() => Color = color)"></button>
    }
</Modal>

@functions 
{
    protected string GetCategoryBarStyleValue(Color color)
        => $"background-color: {color.ToHashCode()};";

    private Color originalColor;

    public IKey CategoryKey { get; set; }
    public Color Color { get; set; }

    protected ColorCollection Colors { get; set; } = new ColorCollection();

    protected override void OnParametersSet()
    {
        originalColor = Color;
    }

    protected bool OnSaveClick()
    {
        if (originalColor != Color)
        {
            Execute();
            return true;
        }
        else
        {
            return false;
        }
    }

    private async void Execute()
    {
        await Commands.HandleAsync(new ChangeCategoryColor(CategoryKey, Color));
        originalColor = Color;
    }
}
