@using Neptuo.Models.Keys
@inject ICommandDispatcher Commands

<Modal Title="Pick an Icon for the Category" PrimaryButtonText="Save" PrimaryButtonClick="@OnSaveClick" IsVisible="@IsVisible" Closed="@OnModalClosed">
    @foreach (string icon in Icons)
    {
        <button class="btn btn-link btn-icon" @onclick(() => Icon = icon)>
            @icon
        </button>
    }
</Modal>

@functions 
{
    private string originalIcon;

    public bool IsVisible { get; set; }
    public Action Closed { get; set; }

    public IKey CategoryKey { get; set; }
    public string Icon { get; set; }

    protected IconCollection Icons { get; set; } = new IconCollection();

    protected override void OnParametersSet()
    {
        originalIcon = Icon;
    }

    protected bool OnSaveClick()
    {
        if (originalIcon != Icon)
        {
            Execute();
            return true;
        }
        else
        {
            return false;
        }
    }

    private async void Execute()
    {
        await Commands.HandleAsync(new ChangeCategoryIcon(CategoryKey, Icon));
        originalIcon = Icon;
    }

    protected void OnModalClosed()
    {
        IsVisible = false;
        Closed?.Invoke();
    }
}
