@using Neptuo.Models.Keys
@inject ICommandDispatcher Commands

<Modal Title="Change when the outcome occured" PrimaryButtonText="Save" PrimaryButtonClick="@OnSaveClick" bind-IsVisible="@IsVisible" Closed="@OnModalClosed">
    <div class="form-group">
        <label for="outcome-when">When:</label>
        <input type="text" class="form-control" id="outcome-when" placeholder="Outcome Description" data-autofocus bind="@When" format-value="yyyy-MM-dd" />
    </div>
</Modal>

@functions {

    private DateTime originalWhen;

    public bool IsVisible { get; set; }
    public Action Closed { get; set; }

    public IKey OutcomeKey { get; set; }
    public DateTime When { get; set; }

    protected override void OnParametersSet()
    {
        originalWhen = When;
    }

    protected bool OnSaveClick()
    {
        if (originalWhen != When)
        {
            Execute();
            OnParametersSet();
            return true;
        }
        else
        {
            return false;
        }
    }

    private async void Execute()
    {
        await Commands.HandleAsync(new ChangeOutcomeWhen(OutcomeKey, When));
    }

    protected void OnModalClosed()
    {
        IsVisible = false;
        Closed?.Invoke();
    }
}
