@using Neptuo.Models.Keys
@inherits DialogBase
@inject ICommandDispatcher Commands

<Modal Title="Change a description of the outcome" PrimaryButtonText="Save" PrimaryButtonClick="@OnSaveClick" @bind-IsVisible="@IsVisible">
    <Validation ErrorMessages="@ErrorMessages" />
    <div class="form-group">
        <label for="outcome-description">Description:</label>
        <input type="text" class="form-control" id="outcome-description" placeholder="Outcome Description" data-autofocus @bind="@Description" />
    </div>
</Modal>

@code 
{
    private string originalDescription;
    protected List<string> ErrorMessages { get; } = new List<string>();

    [Parameter]
    protected IKey OutcomeKey { get; set; }

    [Parameter]
    protected string Description { get; set; }

    protected override void OnParametersSet()
    {
        originalDescription = Description;
    }

    protected bool OnSaveClick()
    {
        if (Validate() && originalDescription != Description)
        {
            Execute();
            OnParametersSet();
            return true;
        }
        else
        {
            return false;
        }
    }

    private bool Validate()
    {
        ErrorMessages.Clear();
        Validator.AddOutcomeDescription(ErrorMessages, Description);

        return ErrorMessages.Count == 0;
    }

    private async void Execute()
        => await Commands.HandleAsync(new ChangeOutcomeDescription(OutcomeKey, Description));
}
