@inherits ModalDialog

<Modal @ref="Modal" Title="Change when the expense occured">
    <ChildContent>
        <div class="form-group">
            <label for="expense-when">When:</label>
            <input type="date" class="form-control" id="expense-when" placeholder="Expense Description" data-autofocus @bind="@When" @bind:format="yyyy-MM-dd" />
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary btn-sm" @onclick="@OnSaveClick">Save</button>
    </Buttons>
</Modal>
