@inherits PagingBase

<nav>
    <ul class="pagination justify-content-center">
        @if (CurrentIndex == 0)
        {
            <li class="page-item disabled">
                <span class="page-link">
                    <span aria-hidden="true">&larr;</span>
                    Previous
                </span>
            </li>
        }
        else
        {
            <li class="page-item">
                <a class="page-link" @onclick="@OnPrevPageClickAsync">
                    <span aria-hidden="true">&larr;</span>
                    Previous
                </a>
            </li>
        }

        <li class="page-item active">
            <span class="page-link">
                @(CurrentIndex + 1)
            </span>
        </li>

        @if (HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" @onclick="@OnNextPageClickAsync">
                    Next
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link">
                    Next
                    <span aria-hidden="true">&rarr;</span>
                </span>
            </li>
        }
    </ul>
</nav>
