@using Money.Models.Sorting
@inherits SortButtonBase<TType>
@typeparam TType

<div class="sort dropdown">
    <a class="btn btn-sm btn-light dropdown-toggle">
        Sort
        <span class="caret"></span>
    </a>

    <div class="dropdown-menu">
        @foreach (var item in Items)
        {
            <a @onclick="@(() => OnItemClick(item.Value))">
                @item.Name

                @if (Current.Type.Equals(item.Value))
                {
                    if (Current.Direction == SortDirection.Ascending)
                    {
                        <span class="glyphicon glyphicon-arrow-down"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-arrow-up"></span>
                    }
                }
            </a>
        }
    </div>
</div>