<div class="header">
    <div class="container">

        <h3>
            @if (!String.IsNullOrEmpty(Icon))
            {
                <Icon Identifier="@Icon" />
            }

            <span class="text">@Main</span>

            @if (!String.IsNullOrEmpty(ButtonText) || ButtonClick != null)
            {
                <button type="button" class="btn btn-primary" @onclick="@(() => ButtonClick?.Invoke())">
                    <Icon Identifier="plus" />
                    @ButtonText
                </button>
            }
        </h3>
        @if (!String.IsNullOrEmpty(Sub))
        {
            <h6>
                @Sub
            </h6>
        }

    </div>
</div>
<div class="header-append"></div>
