<div class="header">
    <div class="container">

        <h2>
            @if (!String.IsNullOrEmpty(Icon))
            {
                <span class="icon glyphicon glyphicon-@Icon" aria-hidden="true"></span>
            }

            @Main

            @if (!String.IsNullOrEmpty(ButtonText) || ButtonClick != null)
            {
                <button type="button" class="btn btn-primary" onclick="@(() => ButtonClick?.Invoke())" style="float: right">
                    <span class="glyphicon glyphicon-plus"></span>
                    @ButtonText
                </button>
            }
        </h2>
        @if (!String.IsNullOrEmpty(Sub))
        {
            <h4>
                @Sub
            </h4>
        }

    </div>
</div>
<div class="header-append"></div>

@functions
{
    [Parameter]
    protected string Icon { get; set; }

    [Parameter]
    protected string Main { get; set; }

    [Parameter]
    protected string Sub { get; set; }

    [Parameter]
    protected string ButtonText { get; set; }

    [Parameter]
    protected Action ButtonClick { get; set; }
}