@using Money.Components.Bootstrap;
@using Neptuo;

<div class="alert @ModeCssClass" role="alert">
    @if (IsDismissible)
    {
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    }

    @if (Title != null)
    {
        <strong class="me-1">
            @Title
        </strong>
    }
    
    @if (Message != null)
    {
        <span>
            @Message
        </span>
    }

    @if (Messages != null)
    {
        foreach (string message in Messages)
        {
            <div>
                @message
            </div>
        }
    }
</div>

@code 
{
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public IEnumerable<string> Messages { get; set; }

    [Parameter]
    public bool IsDismissible { get; set; }

    [Parameter]
    public AlertMode Mode { get; set;}

    protected string ModeCssClass { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        UpdateModeCssClass();
    }

    protected override Task OnParametersSetAsync()
    {
        UpdateModeCssClass();
        return base.OnParametersSetAsync();
    }

    protected void UpdateModeCssClass()
    {
        switch (Mode)
        {
            case AlertMode.Success:
                ModeCssClass = "alert-success";
                break;
            case AlertMode.Info:
                ModeCssClass = "alert-info";
                break;
            case AlertMode.Warning:
                ModeCssClass = "alert-warning";
                break;
            case AlertMode.Error:
                ModeCssClass = "alert-danger";
                break;
            default:
                throw Ensure.Exception.NotSupported(Mode.ToString());
        }

        if (IsDismissible)
            ModeCssClass += " alert-dismissible";
    }

}