<div @ref="Element" @attributes="Attributes" tabindex="-1">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">@Title</h5>
        @HeaderContent
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body small">
        @ChildContent
    </div>
</div>