@page "/user/changepassword"

<UserHead />

<div class="user">
    <div class="row">
        <div class="col-md-6">
            <form method="post">
                <div class="form-group">
                    <label for="OldPassword">Current password</label>
                    <input class="form-control" autofocus="" type="password" data-val="true" data-val-required="The Current password field is required." id="OldPassword" name="OldPassword">
                    <span class="text-danger field-validation-valid" data-valmsg-for="OldPassword" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="NewPassword">New password</label>
                    <input class="form-control" type="password" data-val="true" data-val-length="The New password must be at least 4 and at max 100 characters long." data-val-length-max="100" data-val-length-min="4" data-val-required="The New password field is required." id="NewPassword" name="NewPassword">
                    <span class="text-danger field-validation-valid" data-valmsg-for="NewPassword" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm new password</label>
                    <input class="form-control" type="password" data-val="true" data-val-equalto="The new password and confirmation password do not match." data-val-equalto-other="*.NewPassword" id="ConfirmPassword" name="ConfirmPassword">
                    <span class="text-danger field-validation-valid" data-valmsg-for="ConfirmPassword" data-valmsg-replace="true"></span>
                </div>
                <button type="submit" class="btn btn-default">Update password</button>
            </form>
        </div>
    </div>
</div>