@inherits BlazorLayoutComponent

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <MainMenu />
    </div>
</nav>
<div class="container body-content">
    @Body

    <hr />

    <footer>
        <p>&copy; 2018 - Neptuo</p>
    </footer>
</div>