@inherits BlazorLayoutComponent

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Money</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Summary</a>
                </li>
                <li>
                    <a href="/categories">Categories</a>
                </li>
                <li>
                    <a href="/currencies">Currencies</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
            <LoginInfo />
        </div>
    </div>
</nav>
<div class="container body-content">
    <ExceptionPanel />
    @Body

    <hr />

    <footer>
        <p>&copy; 2018 - Neptuo</p>
    </footer>
</div>