@page "/user/changepassword"
@attribute [Authorize]

<UserHead />

<div class="user">

    <ExceptionPanel />

    @if (IsSuccess)
    {
        <Alert Message="Your password has been changed." Mode="AlertMode.Success" IsDismissible="true" />
    }

    <div class="row">
        <div class="col-md-6">
            <form method="post" @onsubmit="@OnFormSubmit">
                <div class="form-group">
                    <label for="OldPassword">Current password:</label>
                    <input class="form-control" autofocus type="password" id="OldPassword" @bind="@Current" />
                </div>
                <div class="form-group">
                    <label for="NewPassword">New password:</label>
                    <input class="form-control" type="password" id="NewPassword" @bind="@New" />
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm new password:</label>
                    <input class="form-control" type="password" id="ConfirmPassword" @bind="@Confirm" />
                </div>
                <button type="submit" class="btn btn-primary">Update password</button>
            </form>
        </div>
    </div>
</div>
