@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["Header"] = "Manage your account";
    ViewData["SubHeader"] = "Change your account settings";
}

<div>
    @if (User.IsDemo())
    {
        <div class="alert alert-warning">
            <strong>Demo</strong> user can't be modified.
        </div>
    }
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_ManageNav")
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
