body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding: 15px;
}

.navbar-brand {
    padding-left: 50px;
    background: url('../images/logo.png') no-repeat left center;
}

.center {
    text-align: center;
}

.gray {
    opacity: 0.7;
}

.alert .navbar-nav {
    margin-top: -15px;
}

.alert .navbar-nav .btn-link {
    color: #333;
}

.btn-icon {
    font-size: 2em;
}