body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding: 15px;
}

.navbar-brand {
    padding-left: 50px;
    background: url('../images/logo.png') no-repeat left center;
}

.center {
    text-align: center;
}

.gray {
    opacity: 0.7;
}

.alert .navbar-nav {
    margin-top: -15px;
}

.alert .navbar-nav .btn-link {
    color: #333;
}

.btn-icon {
    font-size: 2em;
}

.btn-color {
    width: 40px;
    height: 40px;
    margin: 4px;
}

.panel-body .navbar-nav {
    margin-top: -15px;
    margin-bottom: -15px;
}

.outcomes {
    margin-bottom: -15px;
}

.bar-graph {
    margin: 0;
    border-width: 1px 0 0 0;
    box-shadow: none;
}

.bar-graph .panel-body {
    position: relative;
    height: 60px;
}

.bar-graph .description, .bar-graph .value {
    position: absolute;
    width: calc(100% - 30px);
}

.bar-graph .description {
    position: absolute;
    width: calc(100% - 30px);
    margin: 0;
    font-weight: normal;
}

.bar-graph .description .name {
    font-size: 16px;
}

.bar-graph .amount {
    float: right;
}

.bar-graph .bar {
    height: 10px;
    float: right;
    clear: both;
}

.bar-graph-summary {
    border: none;
}

.bar-graph-summary .glyphicon {
    margin: 0 4px;
}

.bar-graph-summary .category-name {
    font-weight: bold;
}

.bar-graph-summary .amount {
    font-weight: bold;
}