body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-brand {
    padding-left: 60px;
    background: url('../images/logo.png') no-repeat left center;
}