@using Neptuo.Exceptions.Handlers
@inherits LayoutComponentBase

<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
        <MainMenu />
    </div>
</nav>
<div class="container body-content">
    @Body
</div>
<footer>
    <div class="container">
        <hr />
        <p class="clearfix">
            <div class="float-left">
                &copy; 2020 - <a target="_blank" href="https://www.neptuo.com">Neptuo</a>
            </div>
            <div class="float-right">
                <AppVersion />
            </div>
        </p>
    </div>
</footer>
