@using Neptuo.Exceptions.Handlers
@inherits BlazorLayoutComponent
@inject ExceptionHandlerBuilder ExceptionHandlerBuilder
@inject Navigator Navigator

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <MainMenu />
    </div>
</nav>
<div class="container body-content">
    @Body

    <hr />

    <footer>
        <p>&copy; 2018 - Neptuo</p>
    </footer>
</div>

@functions
{ 
    protected override void OnInit()
    {
        base.OnInit();

        ExceptionHandlerBuilder.Handler<UnauthorizedAccessException>(e => Navigator.OpenLogin());
    }
}