<small class="text-muted">
    <span>Client-<ConvertToString Value="@Client" /></span>

    @if (Api != null)
    {
        <span class="ml-1">Api-<ConvertToString Value="@Api" /></span>
    }
</small>