<div class="input-group">
    <div class="input-group-prepend">
        <button class="btn btn btn-outline-secondary" @onclick="(() => ValueChanged?.Invoke(Value.AddDays(-1)))">
            <Icon Identifier="angle-left" />
        </button>
    </div>
    <input type="date" class="form-control" id="@Id" @bind="@Value" @bind:format="yyyy-MM-dd" />
    <div class="input-group-append">
        <button class="btn btn btn-outline-secondary" @onclick="(() => ValueChanged?.Invoke(Value.AddDays(1)))">
            <Icon Identifier="angle-right" />
        </button>
    </div>
</div>

@code 
{
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public DateTime Value { get; set; }

    [Parameter]
    public Action<DateTime> ValueChanged { get; set; }
} 