<AuthenticatedView OnChanged="OnAuthenticationChanged">
    <div class="input-group">
        <div class="input-group-prepend">
            <button type="button" class="btn btn btn-outline-secondary" @onclick="(() => ValueChanged?.Invoke(Value = Value.AddDays(-1)))">
                <Icon Identifier="angle-left" />
            </button>
        </div>
        <input type="text" class="form-control" id="@Id" value="@Value.ToString(Format)" @onchange="OnValueChanged" data-autofocus="@AutoFocus" />
        <div class="input-group-append">
            <button type="button" class="btn btn btn-outline-secondary" @onclick="(() => ValueChanged?.Invoke(Value = Value.AddDays(1)))">
                <Icon Identifier="angle-right" />
            </button>
        </div>
    </div>
</AuthenticatedView>