@inherits ModalDialog

<Modal @ref="Modal" Title="Change when the expense was expected to occur">
    <ChildContent>
        <div class="mb-3">
            <label class="form-label" for="expense-when">Expected When:</label>
            <DateBox Id="expense-when" @bind-Value="When" AutoFocus="true" />
            <div class="form-text">
                For features like 'Expected expenses', this date allows to adjust 
                when the expense was expected vs when it actually happened.
            </div>
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary" @onclick="@OnSaveClick">Save</button>
    </Buttons>
</Modal>
