<button class="btn btn-primary ml-2" @onclick="(() => Navigator.OpenExpenseCreate(CategoryKey))">
    <Icon Identifier="minus-circle" />
    <span class="d-none d-md-inline">
        New Expense
    </span>
</button>
