@inherits ModalDialog

<Modal @ref="Modal" Title="Change when the expense was expected to occur">
    <ChildContent>
        <div class="form-text mb-3">
            For features like 'Expected expenses', this date allows to adjust 
            when the expense was expected vs when it actually happened.
        </div>
        <CalendarPicker @bind-Value="When" OnDayClick="OnSaveClick" />
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary" @onclick="@OnSaveClick">Save</button>
    </Buttons>
</Modal>
