@inherits ModalDialog

<Modal @ref="Modal" Title="Change when the expense was expected to occur">
    <ChildContent>
        <CalendarPicker Id="expense-when" @bind-Value="When" />
        <div class="form-text">
            For features like 'Expected expenses', this date allows to adjust 
            when the expense was expected vs when it actually happened.
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary" @onclick="@OnSaveClick">Save</button>
    </Buttons>
</Modal>
