@inherits ModalDialog

<Modal @ref="Modal" Title="Change when the income occured">
    <ChildContent>
        <CalendarPicker Id="income-when" @bind-Value="When" />
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary" @onclick="@OnSaveClick">Save</button>
    </Buttons>
</Modal>
