@inherits ModalDialog

<Modal @ref="Modal" Title="Change when the expense occured">
    <ChildContent>
        <div class="form-group">
            <label for="expense-when">When:</label>
            <DateBox Id="expense-when" @bind-Value="When" AutoFocus="true" />
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary" @onclick="@OnSaveClick">Save</button>
    </Buttons>
</Modal>
