@inherits ModalDialog

<Modal @ref="Modal" Title="Change an amount of the expense">
    <ChildContent>
        <Validation ErrorMessages="@ErrorMessages" />
        <div class="mb-3">
            <label class="form-label" for="expense-amount">Amount:</label>
            <AmountBox Id="expense-amount" AutoFocus="true" AutoSelect="true" @bind-Value="@Amount" />
        </div>
    </ChildContent>
    <Buttons>
        <button class="btn btn-primary" @onclick="@OnSaveClick">Save</button>
    </Buttons>
</Modal>
