@if (IsUpdateable)
{
    <LayoutView Layout="@typeof(Layouts.Layout)">
        <Title Icon="download" Main="Great news. We have an update for you" Sub="Update is already installed and one click away" />

        <div class="my-4 form-row">
            <div class="col-12 col-md-auto mb-2">
                <button class="btn btn-block btn-primary" @onclick="(async () => Commands.HandleAsync(new UpdatePwa()))">
                    Activate the update
                </button>
            </div>
            <div class="col-12 col-md-auto">
                <button class="btn btn-block btn-secondary" @onclick="(() => IsUpdateable = false)">
                    Leave it for the next time
                </button>
            </div>
        </div>

        @ReleaseNotes
    </LayoutView>
}
else
{
    @ChildContent
}
