@typeparam TType

<div class="sort dropdown">
    <button class="@ButtonCssClass" type="button" data-bs-toggle="dropdown">
        <Icon Identifier="sort-amount-down-alt" />
        <span class="d-none d-md-inline">
            Sort
        </span>
    </button>

    <div class="dropdown-menu dropdown-menu-end">
        @foreach (var item in Items)
        {
            <a class="dropdown-item" @onclick="@(() => OnItemClick(item.Value))">
                @item.Name

                @if (Current.Type.Equals(item.Value))
                {
                    <Icon Identifier="@DirectionToIcon(Current.Direction)" class="ms-1" />
                }
            </a>
        }
    </div>
</div>