@typeparam TType

<div class="sort dropdown">
    <button class="@ButtonCssClass" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort
        <span class="caret"></span>
    </button>

    <div class="dropdown-menu dropdown-menu-right">
        @foreach (var item in Items)
        {
            <a class="dropdown-item" @onclick="@(() => OnItemClick(item.Value))">
                @item.Name

                @if (Current.Type.Equals(item.Value))
                {
                    <Icon Identifier="@DirectionToIcon(Current.Direction)" class="ml-1" />
                }
            </a>
        }
    </div>
</div>