
<button class="@CssClass" type="button" @onclick="@Click">
    <span class="navbar-toggler-icon"></span>
</button>

@code
{
    [Parameter]
    protected string CssClass { get; set; }

    [Parameter]
    protected Action Click { get; set; }
}