<button type="submit" class="btn btn-link navbar-btn navbar-link" title="@ToolTip" onclick="@Click">
    <Icon Identifier="@Icon" />
</button>

@code
{
    [Parameter]
    protected string Icon { get; set; }

    [Parameter]
    protected string ToolTip { get; set; }

    [Parameter]
    protected Action Click { get; set; }
}