
<li class="nav-item">
    <a class="nav-link @CssClass" href="@Url">@ChildContent</a>
</li>

@code
{
    [Parameter]
    protected string CssClass { get; set; }

    [Parameter]
    protected string Url { get; set; }

    [Parameter]
    protected RenderFragment ChildContent { get; set; }
}