
<li role="presentation" class="@CssClass">
    <a href="@Url">@ChildContent</a>
</li>

@code
{
    [Parameter]
    protected string CssClass { get; set; }

    [Parameter]
    protected string Url { get; set; }

    [Parameter]
    protected RenderFragment ChildContent { get; set; }
}