@using Neptuo.Exceptions.Handlers
@inherits LayoutComponentBase

<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
        <MainMenu />
    </div>
</nav>
<div class="container body-content">
    @Body
</div>
<footer>
    <div class="container">
        <hr />

        <div class="d-flex mb-4">
            <div class="mr-auto">
                <small class="text-muted">
                    &copy; 2020 - <a target="_blank" href="https://www.neptuo.com" class="text-muted">Neptuo</a>
                </small>
            </div>
            <div class="float-right">
                <AppVersion />
            </div>
        </div>
    </div>
</footer>
