@inherits LayoutComponentBase
@inject Navigator Navigator

<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
        <MainMenu />
    </div>
</nav>
<div class="container body-content">
    @Body
</div>
<nav class="fixed-bottom d-block d-sm-none bottom-bar">
    <div class="container">
        <BottomMenu />
    </div>
</nav>
<footer class="navbar navbar-light d-none d-sm-block">
    <div class="container">
        <span class="navbar-text">
            <small>
                &copy; 2021
                &#8226; <a href="@Navigator.UrlMoneyProject()" target="_blank">Money</a> by <a href="https://www.neptuo.com" target="_blank">Neptuo</a>
            </small>
        </span>
        <span class="navbar-text text-right">
            <small>
                <span class="versions">
                    <AppVersion />

                    &#8226;
                </span>

                <a href="@Navigator.UrlGithubRepositoryIssueNew()" target="_blank">
                    Report a bug
                    <Icon Identifier="bug" />
                </a>
            </small>
        </span>
    </div>
</footer>
