<li class="nav-item">
    @if (IsVisibleOnDesktop)
    {
        <span class="navbar-text mx-1 mx-xl-3 d-none d-lg-inline-block">
            @*—*@
        </span>
    }

    @if (IsVisibleOnMobile)
    {
        <div class="d-block d-lg-none">
            <hr class="separator" />
        </div>
    }
</li>